*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #111827;
    color: white;
    padding: 1rem;
}

.lottie{
    width: 12rem;
    height: 12rem;
    margin-bottom: 1.5rem;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    color: orangered;
    margin-bottom: 1rem;
    text-align: center;
}

.tagline{
    font-size: 1.5rem;
    color: #798380ff;
    text-align: center;
}